<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
        <% include ../partials/header %>
  </header>
  <body>
    <h1><%= title %></h1>
    <p><%- blogText %><p>
  </body>
</html>
