<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
        <% include ../partials/header %>
  </header>
  <body>
    <h1><%= blog.title %></h1>
    <p><%= blog.text %><p>
  </body>
</html>
