 <!DOCTYPE html>
<html>
  <head>
    <title><404></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
        <% include ../partials/header %>
  </header>
  <body>
      <h2>404 : Not Found </h2>
  </body>
</html>
